@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,500;1,500&display=swap');

p {
    color:red;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    text-align:;
  }
  

